.ensime
.ensime_cache/

.vscode/
ensime-langserver.log

*.class
*.log

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project

#Eclipse
.project
.classpath
.settings/

#Metals
.bloop/
.metals/